@model IEnumerable<appProveedores.Models.Pedido>

@{
    ViewBag.Title = "Pedidos";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Número de Pedido</th>
        <th>Número de transacción</th>
        <th>
            @Html.DisplayNameFor(model => model.fechaPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEntrega)
        </th>
        <th>Dias restantes</th>
        <td>Estado</td>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pago.Where(x=>x.idPedido == item.idPedido).First().idPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEntrega)
        </td>
       
     
        <td>
            @if (item.fechaEntrega < DateTime.Now)
            {
                <strong>0 días</strong>
            }
            else
            {
               <p>@(item.fechaEntrega.Subtract(DateTime.Now).Days) días</p>  
            }
            
        </td>
        <td>
            @if (item.estadoPedido == 2)
            {
                <div class="form-control warning" style="background-color:indianred;"><strong style="color:white;">Pendiente</strong></div>
            }
            else
            {
                <div class="form-control " style="background-color:seagreen"><strong style="color:white;">Finalizado</strong></div>
            }
        </td>
        <td>
            @Html.ActionLink("Detalles", "Detalles", new { id = item.idPedido })
        </td>
    </tr>
}

</table>
