@model IEnumerable<appProveedores.Models.ProductoPedido>
<h3>Carrito de Compra</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.precioUnidad)
        </th>
        <th>
            <p>IMPORTE</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.nombre)
        </td>
        <td>
            @Html.DisplayFor(model=> item.Productos.precioUnidad)
        </td>
        <td>
            <h5>@string.Format("{0:c}", item.Productos.precioUnidad * item.cantidad)</h5>
        </td>
        <td>
            @using (Html.BeginForm("_Carrito", "Productos", "POST"))
            {
                <input type="hidden" value="@item.id" name="id" />
                <input type="submit" value="Quitar Producto" class="btn-danger"/>
            }
        </td>
    </tr>
 
}
    <tr>
        <td>
            <h2>Total</h2>
        </td>
        <td></td>
        <td></td>
        <td>
            <h3>@ViewBag.Total</h3>
        </td>
    </tr>

</table>
@Html.ActionLink("Cotización", "Cotizacion")
@Html.ActionLink("Facturacion", "Comprar")
