@model IEnumerable<appProveedores.Models.Productos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantxUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidadExistencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorias.nombreCategoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantxUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidadExistencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorias.nombreCategoria)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProducto })
        </td>
    </tr>
}
    <tr>
        <td>
            <h2>Total</h2>
        </td>
        <td></td>
        <td></td>
        <td>
            <h3>$@ViewBag.Total</h3>
        </td>
    </tr>
</table>
