@model appProveedores.Models.Productos

@{
    ViewBag.Title = "Seleccion";
}

<h2>Seleccion</h2>
<input hidden value=@ViewBag.error id="error" />
<div>
    <h4>Productos</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantxUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantxUnidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioUnidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unidadExistencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unidadExistencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorias.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorias.nombreCategoria)
        </dd>

    </dl>
</div>
<p>
   @using (Html.BeginForm("Seleccion", "Productos", "POST"))
   {
    <input type="number" id="cantidad" name="cantidad" class="form-control" />
    <input type="submit" value="Agregar al carrito" class="form-control" />
    <a href="/Productos/Lista" class="form-control">Devolverte</a>                                                                                 
   }
</p>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#error").val() == "si") {
                sweetAlert('Oops...', 'No contamos con tantos productos!', 'error');
            }
        });
       
    </script>
  
}
