@model appProveedores.Models.Productos

@{
    ViewBag.Title = "Seleccion";
}

<h2>Seleccion</h2>
<input hidden value=@ViewBag.error id="error" />
<div  class="container">
    <div class="col-lg-6 ">
        <img src="http://www.stickven.com/FuentesGlobales/iconos/productos.png" height="300" width="300"/>
   
        <br />
        <dl class="dl-horizontal">
       

            <dd>
                <h4> @Html.DisplayFor(model => model.nombre)</h4>
                <hr />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.precioUnidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.precioUnidad)
            </dd>

 
            <dt>
               CATEGORÍA
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categorias.nombreCategoria)
            </dd>

        </dl>
    </div>
    <div class="col-lg-3">

        <h4>Selecciona una cantidad</h4>
        <hr />
        <p>
            @using (Html.BeginForm("Seleccion", "Productos", "POST"))
            {
                <input type="number" required id="cantidad" name="cantidad" class="form-control" />
                <input type="submit" value="Agregar al carrito" class="form-control" />
                <a href="/Productos/Lista" class="form-control">Devolverte</a>
            }
        </p>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#error").val() == "si") {
                sweetAlert('Oops...', 'No contamos con tantos productos!', 'error');
            }
        });
       
    </script>
  
}
